{% extends '::base.html.twig' %}

{% block  body %}
      <div class="row" style="margin-top: -10px; margin-left: auto; margin-right: auto;">
          <div class="col-sm-3 side_first">
            {% block sidebar_first %}
                <h4 class="titre yellow">Cellule'Statistique</h4>
                <div id="menu">
                    <div class="w3-container w3-card-2 w3-padding-bottom w3-padding-top">
                        <a href="{{path('ecole_site_stat')}}"><img src="{{asset('bundles/ecolesite/images/stat.jpg')}}"></a>
                    </div>
                </div>
            {% endblock %}
          </div>
          <div class="col-sm-6 w3-padding-bottom">
            {% block content %}{% endblock %}
          </div>
          
          <div class="col-sm-3 sidebar_second">
            {% block sidebar_second %}{% endblock %}
          </div>
      </div>

{% endblock %}

     