{% extends '::base.html.twig' %}

{% block  body %}
      <div class="row" style="margin-left: 3px">
          <div class="col-xs-3"  style="border: 1px solid green;padding-left:10px; width: 290px">
            {% block sidebar_first %}{% endblock %}
          </div>
          <div class="col-xs-6" style="border: 1px solid green;margin-left: 5px; margin-right: 5px;">
            {% block content %}{% endblock %}
          </div>
          
          <div class="col-xs-3"  style="border: 1px solid green;width: 290px">
            {% block sidebar_second %}{% endblock %}
          </div>
      </div>

{% endblock %}