{% extends "EcoleAdminBundle::layout.html.twig" %}

{% block content -%}
  <h1>Actualite creation</h1>
    {{ form(form) }}
    <a class="btn btn-primary" href="{{ path('actualite') }}">
                    Liste des actualités
                </a>
     {% endblock %}