@media screen and (min-width: 200px) and (max-width: 640px){
    #GrandeIntro{
        display: none;
        clear:both;
    } 
    #header{
        display: none;
        clear:both;
    }
    #menuMobile{
        display: block;
        clear:both;
         position: relative;
        z-index: 150;
    }
    #menuH{
        margin-top: -20px;
         display: block;
         z-index: 110;
         position: fixed;
         width: 100%;
         margin-left: -10px;

    }
    #siteWrapper{
      position: relative;
      top: 90px;
    }
    .col-sm-4{
      border:1px solid red;
    }
    #primaire{
  
    }
    #college{

    }
     #lycee{
    }
     #primaire  .titre, #college .titre{
       font-size: 10px;
    }
    .fb-like-box .fb_iframe_widget{
       border:1px solid red
    }
}
@media screen and (min-width: 800px) and (max-width: 1280px){
     #menuMobile{
        display: none;
        clear:both;
    }
    #menuH{
         display: none;
         clear:both;
    }
}
@media screen and (orientation:landscape){
  
}