{% extends '::base.html.twig' %}

{% block  body %}
      <div class="row" style="
           margin-top: -12px;
           margin-bottom: 10px;
           width: 1016px; 
           margin-left: 100px;
           box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgb(51, 204, 51) inset; 
             border-top-right-radius: 15px;
              border-bottom-left-radius: 15px;">
          <div class="col-sm-8 celluleLeft">
            {% block content %}{% endblock %}
          </div>
          
          <div class="col-sm-4 celluleRight">
            {% block sidebar %}
                <h4 class="titre yellow">Administration</h4>
                <div id="menu">
                    <ul class="w3-ul w3-large">
                           <li class="select"><a href="{{path('actualite')}}">Gestion actualité</a></li>
                           <li class="select"><a href="{{path('page')}}">Gestion contenu</a></li>
                       </ul>
                </div>
            {% endblock %}
          </div>
      </div>
{% endblock %}