{% extends "EcoleSiteBundle::layout.html.twig" %}
    {% block  content %}
        <div class="row">
            <div class="col-sm-12">
                <h4 class="titre red"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Cellule'ACTU</h4>
                <div id="menu" style="border-color:red">
                    <div class="row">
                        <div class="col-sm-1">
                           <img src="{{asset('bundles/ecolesite/images/actu.png')}}" style="width: 50px;">
                        </div>
                        <div class="col-sm-11">
                            <div class="w3-container" style="">
                                <ul class="w3-card-2 red-l5" id="news">
                                    <li><a href="#">Le 01 Septembre 2015 Ouverture des pré-inscription <span class="glyphicon glyphicon-new-window"></span></a></li>
                                    <li><a href="#">Le 01/01/2015 Création de Cellule du savoir <span class="glyphicon glyphicon-new-window"></span></a></li>   
                               </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   {% endblock %}  
   {% block sidebar %}
        <h4 class="titre yellow">Cellule'RESEAUX</h4>
        <div id="menu">
            <div class="w3-container">
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/Cellule-du-Savoir/448685748623613" data-width="250" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
            </div>
        </div>
        <br>
        <h4 class="titre yellow"> <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Cellule'Localisation</h4>
        <div id="menu">

        </div>
        <br>
        <h4 class="titre yellow"> <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Cellule'Coordonnée</h4>
        <div id="menu">

        </div>
     {% endblock %}  

