{% extends "EcoleSiteBundle::layout.html.twig" %}
    {% block  content %}
        <div class="row">
            <div class="col-sm-12">
                <h4 class="titre red"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Cellule'ACTU</h4>
                   <div id="contenu" style="border-color:red">
                    {% for actu in actualite %}
                      <div class="w3-container w3-card-2">
                          <h4 class="red">{{ actu.titre }} <span style="float: right">Publié le :{{ actu.timestamp|date("d/m/Y") }}<span></h4> 
                          <p>{{ actu.contenu }}</p>
                          </div><br>
                                  {% endfor%} 
                   </div>
           </div>
        </div>
         {% block javascript %}     
         <script>
             $(function(){
                $('#actualite').addClass('active');
                $('#home').removeClass('active');
                 $('#presentation').hide();
             });
         </script>
     {% endblock %}
   {% endblock %}  
    
   
     
