{% extends "EcoleSiteBundle::layout.html.twig" %}
 
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titreM green">Projet pédagogique</h4>
          
            <div id="contenu">
              <div class="w3-container">
                 <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="">Etude dirigées</a></li>
                    <li><a href="{{path('ecole_pedagogie_surveille')}}">Etude surveillées</a></li>
                 </ul>
                   <div class="tab-content w3-border-bottom w3-border-left w3-border-right blanc">
                    <div class="w3-container">
                        {% for contenu in contenus %}
                            {% if contenu.type == 'dirigee' %}
                                {{ contenu.contenu|raw }}
                            {% endif %}
                         {% endfor %}
                    </div>
                  </div>
               </div>
            </div>
         </div> 
      </div> 
       {% block javascript %}     
          <script>
              $(function(){
                 $('#notrecole').addClass('active');
                 $('#home').removeClass('active');
                 $('#reseaux').hide();
                 $('#collapseThree').collapse();
              });
          </script>
        {% endblock %}
   {% endblock %}  
 

     

