{% extends "EcoleSiteBundle::layout.html.twig" %}
 
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titre green">Projet pédagogique</h4>
            <div id="contenu">
                <div class="w3-container">
                    <h3>Projet</h3>
                    <p>
                        A car is a wheeled, self-powered motor vehicle used for transportation.
                        Most definitions of the term specify that cars are designed to run primarily on roads,
                        to have seating for one to eight people, to typically have for one to eight people,
                        to typically have four wheels. (Wikipedia)
                    </p>
                 </div>
            </div>
            </div> 
      </div> 
       {% block javascript %}     
          <script>
              $(function(){
                 $('#notrecole').addClass('active');
                 $('#home').removeClass('active');
                 $('#reseaux').hide();
                 $('#pedag').addClass('yellow');
              });
          </script>
        {% endblock %}
   {% endblock %}  
 

     

