{% extends "EcoleSiteBundle::layout.html.twig" %}
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titre green">Présentation</h4>
            <div id="contenu">
                <div class="w3-container">
                    <h3 class="w3-blockquote">Présentation</h3><br>
                    <p style="text-align: justify">
                        Créee en Juillet 2012 par Arrêté Ministériel N° 1430 du 02 juillet 2012, l’Ecole Privée « Cellule du savoir » est un complexe scolaire  qui regroupe:
                    <ul>
                    <li>un jardin d’enfants (enseignement préscolaire), comportant une crèche, une petite section, une moyenne section et une grande section ;</li>
                    <li>   une école fondamentale à cycle complet (enseignement de base)</li>
                    <li>    une école secondaire comportant un 1er cycle et un 2eme cycle (collège et lycée).</li>
                     Elle est implantée à Nouakchott, dans la commune de Sebkha, à Basra sur l’axe goudronné entre Etage Kassé et l’arrivage Basra.
                    </ul>   
                   
                    <h3 class="w3-blockquote">Notre Objectif</h3><br>
                    <p>
                       Le complexe des Ecoles Privées «  Cellule du Savoir » s’est fixée dés le début un objectif majeur qui est de tendre vers l’Excellence en enseignant autrement, en d’autres termes :
                    <ul>
                        <li>utiliser des pratiques nouvelles pour aider les enfants autrement, c’est-à-dire mieux afin de conduire avec succès le maximum d’élèves à la réussite des concours d’entrée en 1ere année secondaire, au BEPC et aux Examens du Baccalauréat ;</li>
                        <li> dispenser  des cours en informatique dès le primaire, à partir de la 5e AF, afin de familiariser ses élèves aux outils informatiques.</li>
                        <li>faire prendre conscience aux élèves, dans leurs études, de l’importance de toutes les disciplines enseignées à l’Ecole Privée, y compris celles que les élèves appellent à tort les matières secondaires.</li>
                        <li>de faire enfin de l’Ecole Privée « cellule du savoir », un lieu de vie véritable, pour favoriser le transfert des compétences pratiques et théoriques minimales aux élèves, tout en développant chez eux le sentiment de solidarité, en leur apprenant à s’enrichir de leurs différences mutuelles, dans le but de façonner le citoyen de demain garant de notre développement</li>
                    </ul>
                    </p>
                    <h3 class="w3-blockquote">Infrastructures</h3><br>
                    <p>
                        Trois blocs abritent les classes et les bureaux de « Cellule du Savoir » :
                        Dans le premier bloc, on trouve le jardin d’enfants (la maternelle) et 6 classes du fondamental et 4 toilettes,
                        ( Photos)
                        Le deuxième bloc est un étage qui abrite, le collège et. Il compte 4 salles de classes, 2 bureaux, une buvette, 2 toilettes.
                        ( Photos)
                        Le troisième bloc est un étage qui abrite le lycée. Il compte 4 salles de classes, 3 bureaux, une buvette, 2 toilettes.
                        ( Photos)
                    </p>
                </div>
            </div>
        </div> 
      </div> 
        {% block javascript %}     
          <script>
              $(function(){
                 $('#notrecole').addClass('active');
                 $('#home').removeClass('active');
                 $('#present').addClass('yellow');
                 $('#reseaux').hide();
              });
          </script>
        {% endblock %}
   {% endblock %}  

 
     

