{% extends "EcoleSiteBundle::layout.html.twig" %}
 
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titreM orange">Primaire</h4>
            <div id="contenu" style="border-color: orange">
              <div class="w3-container">
                    <p>
                        A car is a wheeled, self-powered motor vehicle used for transportation.
                        Most definitions of the term specify that cars are designed to run primarily on roads,
                        to have seating for one to eight people, to typically have for one to eight people,
                        to typically have four wheels. (Wikipedia)
                    </p>
              </div>
                <div class="w3-container">
                   <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#objectif">Objectif</a></li>
                    <li><a data-toggle="tab" href="#classe">Les classes</a></li>
                    <li><a data-toggle="tab" href="#program">Les programmes</a></li>
                    <li><a data-toggle="tab" href="#library">Bibliothèques</a></li>
                  </ul>
  
                    <div class="tab-content w3-border-bottom w3-border-left w3-border-right blanc">
                      <div id="objectif" class="tab-pane fade in active w3-container">
                        <h3>Objectif</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div id="classe" class="tab-pane fade w3-container">
                        <h3>Les classes</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                      <div id="program" class="tab-pane fade w3-container">
                        <h3>Les programmes</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                       <div id="library" class="tab-pane fade w3-container">
                        <h3>Bibliothèques</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div> 
      </div>  
        {% block javascript %}     
          <script>
              $(function(){
                 $('#notrecole').addClass('active');
                 $('#home').removeClass('active');
                 $('#primaire').addClass('yellow');
                 $('#reseaux').hide();
              });
          </script>
        {% endblock %}
   {% endblock %}  


