{% extends "EcoleSiteBundle::layout.html.twig" %}
    {% block  content %}
        <div class="row">
            <div class="col-sm-12">
                <h4 class="titre red"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Statistique</h4>
                   <div id="contenu" style="">
                    <div class="w3-container" style="">
                        <iframe style="margin-left:-15px " width="550" height="520" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=97086234&amp;format=interactive"></iframe> 
                        <iframe style="margin-left:-15px " width="550" height="520" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=1624729944&amp;format=interactive"></iframe>  
                        <iframe style="margin-left:-15px " width="550" height="520" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=1624729944&amp;format=interactive"></iframe>  
                    </div>  
                  
                   </div>
           </div>
        </div>
        {% block javascript %}     
          <script>
              $(function(){
                 $('#myNavbar #home').removeClass('active');
              });
          </script>
        {% endblock %}
   {% endblock %}  
 
   
     
