{% extends "EcoleSiteBundle::layout.html.twig" %}
    {% block  content %}
        <div class="row">
            <div class="col-sm-12">
                <h4 class="titreM green"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Statistique</h4>
                   <div id="contenu" style="">
                        <div class="w3-card-2 w3-center white">
                            <iframe style="margin-left:-15px"  width="550" height="400" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=402010394&amp;format=interactive"></iframe> 
                        </div><br>
                        <div class="w3-card-2 w3-center white">
                            <iframe style="margin-left:-15px " width="530" height="400" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=97086234&amp;format=interactive"></iframe> 
                        </div><br>
                        <div class="w3-card-2 w3-center white">
                            <iframe style="margin-left:-15px " width="530" height="400" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=1768517277&amp;format=interactive"></iframe> 
                        </div><br>
                        <div class="w3-card-2 w3-center white">
                            <iframe style="margin-left:-15px " width="530" height="400" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1VfGG_bt26MAFZ7w4fAWVg7AxPncB0pv-AYBYzIF9g5Y/pubchart?oid=1624729944&amp;format=interactive"></iframe>  
                        </div>  <br>
                        <div class="w3-container w3-border w3-padding-bottom w3-card-2">
                          <h4 class="w3-animate-opacity">Interprétation de ces graphes</h4>
                          <p class="w3-blockquote">Le  juillet dernier, les nouvelles n’étaient pas bonnes au Ministère de l'éducation nationale. </p>
                          <br>
                           <p class="w3-blockquote">
                            Avec la proclamation des résultats du Baccalauréat Mauritanien, session de juin 2015, les 41986 candidats à cet examen scolaire le plus populaire, ont été fixés sur leur sort. Le taux de réussite est catastrophique  et squelettique. C’est pratiquement la récidive de la douleur des bacs passés. Pourquoi ce fiasco ?
                          </p>
                          <br>
                           <p class="w3-blockquote">
                            Les résultats obtenus ces dernières années aux examens nationaux sont à la fois catastrophique et squelettiques. Ils sont loin de plaider en faveur d’une école formatrice de cadres pour relever les grands défis.
                          </p>
                          <br>
                           <p class="w3-blockquote">
                            Avec un taux de réussite de 7% au Baccalauréat mauritanien, l’on est en droit de s’interroger sur les  causes fondamentales des échecs scolaires. Pourquoi ce fiasco qui n’honore  personne ?
                           </p>
                           <br>
                          <p class="w3-blockquote">
                            En réalité, l’école Mauritanienne est confrontée depuis plus de deux décennies à de sérieuses difficultés. Des grèves intempestives, des cours bâclés par de pseudo enseignants, des effectifs pléthoriques, en passant par des années scolaires lacunaires, la création  anarchique des écoles privées et des salaires impayés. Bref, difficile d’épuiser la liste de la pelle de  difficultés qui assaillent  l’école mauritanienne. La proclamation, le  juillet dernier, des résultats du Baccalauréat mauritanien, session de juin 2015 aura été une épreuve douloureuse à supporter  tant pour les candidats que pour les parents. Les enfants sont tout simplement  partis pour la boucherie au regard du pourcentage catastrophique, encore plus bas.
                          </p>
                          <br>
                          <p class="w3-blockquote">
                            En réalité, l’école Mauritanienne est confrontée depuis plus de deux décennies à de sérieuses difficultés. Des grèves intempestives, des cours bâclés par de pseudo enseignants, des effectifs pléthoriques, en passant par des années scolaires lacunaires, la création  anarchique des écoles privées et des salaires impayés. Bref, difficile d’épuiser la liste de la pelle de  difficultés qui assaillent  l’école mauritanienne. La proclamation, le  juillet dernier, des résultats du Baccalauréat mauritanien, session de juin 2015 aura été une épreuve douloureuse à supporter  tant pour les candidats que pour les parents. Les enfants sont tout simplement  partis pour la boucherie au regard du pourcentage catastrophique, encore plus bas.
                          </p>
                          <br>
                          <h4 class="w3-animate-opacity">Causes réelles du fiasco au Bac</h4>
                          <p class="w3-blockquote">
                            Le Baccalauréat est menacé en Mauritanie pour plusieurs raisons.
                          </p>
                          <br>
                            <p class="w3-blockquote">
                            D’abord, quoi qu’on dise, notre système éducatif ne s’alignera jamais sur la ligne de la performance tant que les années lacunaires continuent à se succéder. Les élèves  passent  chaque année d’une classe  à une autre avec des lacunes. Pis ceux qui doivent être renvoyés passent.
                            </p>
                          <br>
                            <p class="w3-blockquote">
                            La seconde cause, c’est la responsabilité des enfants qui ne veulent fournir aucun effort pour réussir. Ils veulent gagner tout sur un plateau d’argent. A l’approche des examens, ils comptent plutôt sur  les fuites de sujets et les réseaux maffieux que sur leurs valeurs intrinsèques. Ils passent toute l’année scolaire à faire l’école buissonnière au su et au vu d’une administration scolaire laxiste et impuissante.
                          </p>
                          <br>
                            <p class="w3-blockquote">
                            En troisième lieu, il ya de la prolifération d’écoles privées avec des promoteurs véreux et des professeurs souvent non qualifiés qui enseignent du n’importe quoi aux enfants. Parmi ces derniers, figurent cependant de bons professeurs gonflés d’heures, évoluant dans les écoles publiques, qui  n’ont même  pas le temps de préparer les leçons.
                          </p>
                          <br>
                          <p class="w3-blockquote">
                            En outre, la correction a pénalisé les candidats quelque part. Des correcteurs qui ne tenaient pas de classes d’examen ont corrigé avec une plume rapide, les épreuves du Baccalauréat à cause de l’appât du gain. Il y avait aussi ceux qui sont tapis au fond des Bureaux qui sont devenus correcteurs.
                          </p>
                           <br>
                           <p class="w3-blockquote">
                             Enfin l’Etat  avec ses multiples difficultés ne peut plus orienter des milliers de bacheliers dans les Universités publiques pour ensuite faire face à la bataille des bourses. Peut -être une astuce de pouvoir contrôler les effectifs pléthoriques. C’est  en partie  ce qui justifie le faible taux de réussite  au BAC.
                           </p>
                           <br>
                           <p class="w3-blockquote">
                              Le Ministre de l'éducation Nationale BA Ousmane  doit redoubler d’efforts pour réussir  là où ses prédécesseurs ont  échoué.
                           </p>
                        </div>
                   </div>
           </div>
        </div>
        {% block javascript %}     
          <script>
              $(function(){
                 $('#myNavbar #home').removeClass('active');
              });
          </script>
        {% endblock %}
   {% endblock %}  
 
   
     
