  #green {
        margin-top: 5px;
        margin-left: 25px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        color: #008800;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        border: 2px solid #008800;
        box-shadow: 5px 5px 5px #888;
        display: inline-block;
        margin-right: 20px;
        background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}
#red {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 2px;
    color: #CC0000;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid #CC0000;
    box-shadow: 5px 5px 5px #888;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 20px;
}

.side_first1{
  border: 1px solid green;
  padding-left:10px; 
  width: 300px;
  padding-top: 10px
}

.content1{
   border: 1px solid green;
   margin-left: 5px;
   margin-right: 5px;
   padding-top: 10px
}

.sidebar_second1{
  border: 1px solid green;
  width: 300px;
  padding-top: 10px
}
